
<mat-tab-group>
  <mat-tab label="Tab 1" class="Tab1">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
  </mat-tab>

  <mat-tab label="Tab 1" class="Tab1">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
  </mat-tab>
  <mat-tab label="Tab 1" class="Tab1">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
    <img src="./assets\o_1gbkvf16a1t5a14o1197c1gum1vo3c.png">
  </mat-tab>
 
</mat-tab-group>
