<div class="headerBackground"></div>

<div class="">
  <p>spania bosted</p>
</div>

  <img class="logo" src="./assets\website-logo.png" alt="header">


  <div class="navbar">
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">boliger</a></li>
      <li><a href="#">selge bolig</a></li>
      <li><a href="#">visningstur</a></li>
      <li><a href="#">referanser</a></li>
      <li><a href="#">spørsmål og svar</a></li>
      <li><a href="#">om oss</a></li>
    </ul>
  </div>

  <mat-icon class="MatIcon">view_headline</mat-icon>

