<div class="text">
<p class="header">ένας άντρας</p>
<p>Spaniabosted er et sertifisert eiendomsmeglerforetak med kontor i La Zenia, Alicante og bistår nordmenn med kjøp og salg av bolig i Spania. Våre norske eiere har lang erfaring innen eiendomsmegling og vi kan bidra med god og nyttig informasjon om de ulike områdene og boligmarkedet. Eiendomsmeglerne i foretaket snakker norsk, svensk, engelsk og spansk.

  Vi selger både boliger på Costa Blanca sør og jobber tett med utvalgte utbyggere som stiller våre krav om juridiske bestemmelser og bankgaranti. I tillegg, har egen juridisk avdeling som tar seg av det juridiske rundt selve eiendomsoverdragelsen. Du får hjelp med alt fra å opprette konto i spansk bank, til å søke om N.I.E. nummer, tegne husforsikring, opprette testamente samt å levere inn spansk selvangivelse.</p>
</div>
